<h1>Pages#countdown</h1>
<p>Find me in app/views/pages/countdown.html.erb</p>

<!-- https://www.developphp.com/video/JavaScript/Countdown-Timer-Tutorial-setTimeout-clearTimeout -->




<div id="status"></div>



<%= link_to 'Start',
'/actual/url/in/case/javascript/is/broken',
:id => 'Start', class: 'button'
%>


<%= link_to 'my-link',
'/actual/url/in/case/javascript/is/broken',
:id => 'my-link', class: 'button'
%>
